<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- This is a total ugly hack but whois variant stuff has not been accepted by RIPE yet :( -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="locations">
            <list>
                <value>classpath:version.properties</value>
                <value>classpath:whois.properties</value>
                <value>file:${whois.config}</value>
                <util:constant static-field="net.ripe.db.whois.api.whois.rdap.WhoisRdapService.RDAP_PROPERTIES"/>
            </list>
        </property>
    </bean>


    <import resource="applicationContext-whois-base.xml"/>
</beans>
